.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.logo-wrapper img {
  width: 30px;
}

.logo-wrapper h1 {
  color: var(--notoBlue);
  font-size: 30px;
  font-weight: 700;
}

.logo p {
  color: var(--notoLightGray);
  font-size: 14px;
  font-weight: 500;
}
