.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: var(--notoWhite);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.header-wrapper {
  width: 100%;
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
