.note-card {
  border: 2px solid transparent;
  border-radius: 24px;
  box-shadow: 0px 4px 5px 0px rgba(85, 85, 85, 0.3);
  background: var(--notoWhite);
  padding: 24px;

  &:hover {
    border: 2px solid var(--notoBlue);

    .actions {
      display: block;
    }
  }
}

.note-card-wrapper {
  position: relative;
}

.note-card .title {
  margin-right: 52px;
}

.note-card .subtitle {
  color: var(--notoLightGray);
  margin-bottom: 20px;
}

.note-card .content {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.note-card .actions {
  position: absolute;
  right: 0;
  display: none;
}
