.actions {
  display: flex;

  .icon-trash-grey,
  .icon-trash-red {
    width: 18px;
  }

  .icon-trash-red {
    display: none;
  }

  &:hover {
    .icon-trash-grey {
      display: none;
    }

    .icon-trash-red {
      display: block;
    }
  }
}
